@model Northwind.Models.Category
<!--	Author:	Chris Carrier
		Date:	1/15/15
		Information:	Category Index Output
-->

@{
	
	ViewBag.Title = "Category Index";
}
	<head>
		<title>Category Index</title>
		
	</head>
	<h2>Categories</h2>
		<a href="~/Home/CategoryFile">By File</a><br />
		<a href="~/Home/CategoryFilter">By Category</a><br />
		


