@model Northwind.Models.Product
<!--	Author:	Chris Carrier
		Date:	1/15/15
		Information:	Product Index Output
-->

@{
    ViewBag.Title = "Product Index";
}

	<h2>Product Index</h2>
	<a href="~/Home/ProductFile">By File</a><br />
	<a href="~/Home/ProductFilter">By Product</a><br />
