@model Northwind.Models.Shipper
<!--	Author:	Chris Carrier
		Date:	1/15/15
		Information:	Shipper Index Output
-->

@{
    ViewBag.Title = "Shipper Index";
}

	<h2>Shipper Index</h2>
		<a href="~/Home/ShipperFile">By File</a><br />
		<a href="~/Home/ShipperFilter">By Shipper</a><br />

