@model Northwind.Models.Supplier
<!--	Author:	Chris Carrier
		Date:	1/15/15
		Information:	Supplier Index Output
-->

@{
	ViewBag.Title = "Supplier Index";
}

	<h2>Supplier Index</h2>
		<a href="~/Home/SupplierFile">By File</a><br />
		<a href="~/Home/SupplierFilter">By Supplier</a><br />
	



