[submodule "Angular/Pro_Angular_6_Projects/Chapter-5-JavaScriptPrimer-Part-1"]
	path = Angular/Pro_Angular_6_Projects/Chapter-5-JavaScriptPrimer-Part-1
	url = C:/Program Files/Git/Chapter-5-JavaScriptPrimer-Part-1
