

@{
    ViewBag.Title = "Index";
}
	<head>
		<link type="text/css" rel="stylesheet" href="~/Content/style.css" />
		<!--<script src="~/Scripts/javascript-style.js"></script>-->
		<title>Index</title>
	</head>
	<h2>Index</h2>
		<h2>Filter Products</h2>
		<ul class="index-list">
			<li><a href="~/Home/CategoryIndex">By Category</a></li>
			<li><a href="~/Home/SupplierIndex">By Supplier</a></li>
			<li><a href="~/Home/ShipperIndex">By Shipper</a></li>
			<li><a href="~/Home/ProductIndex">By Price</a></li>
		</ul>

