@model Northwind.Models.Shipper

@{
    ViewBag.Title = "Shipper Index";
}

	<h2>Shipper Index</h2>
		<a href="~/Home/ShipperFile">By File</a><br />
		<a href="~/Home/ShipperFilter">By Shipper</a><br />

