
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
	
@ViewBag.aPerson1.Display();	<br /><br />
@ViewBag.aPerson2.Display();	<br /><br />
@ViewBag.aStudent1.Display();	<br /><br />
@ViewBag.aStudent2.Display();	<br /><br />

