@model Northwind.Models.Category

@{
    ViewBag.Title = "Category File";
}
	<head>
		<link type="text/css" rel="stylesheet" href="~/Content/style.css" />
		<title>Category Index</title>

	</head>


	
	<!--	By Files All list -->
	<h2>Category File</h2>
		@foreach(var c in ViewBag.Categories)
		{
			@Html.Raw(c.ToString());
		}







<!--	Textbox	Entry
	<h2>Select which file you want to display? </h2>
		<input type="number" class="category-file" id="category-file" value="number" />
-->
<!--	Button
	<input type="button" class="category-file-button" id="category-file-button" value="Submit" />
-->
	