@model Northwind.Models.Category

@{
	
	ViewBag.Title = "Category";
}
	<head>
		<link type="text/css" rel="stylesheet" href="~/Content/style.css" />
		<script src="~/Scripts/jquery-2.1.1.min.js"></script>
		<!--<script type="text/javascript" src="~/Scripts/javascript-style.js"></script>-->
		<title>Category Index</title>
		
	</head>
	<h2>Categories</h2>
		<a href="~/Home/CategoryFile">By File</a><br />
		<a href="~/Home/CategoryFilter">By Category</a><br />
		
		<!--	Needs Work for javascript 
			<h2>Categories</h2>
				<select id="categoryfilter" class="category-filter" form="category">
					<option value="Select" selected="selected">Select</option>
					<option value="By File">By File</option>
					<option value="By Category">By Category</option>

				</select>
			<h2 >Select which file you want to display? </h2>
				<input type="number" class="category-file" id="categoryfile" value="number" disabled="disabled" />
		-->


