@model Northwind.Models.Supplier

@{
	ViewBag.Title = "Supplier";
}

<h2>Supplier Index</h2>

	
	<h2>Supplier</h2>
		<a href="~/Home/SupplierFile">By File</a><br />
		<a href="~/Home/SupplierFilter">By Supplier</a><br />
	



