<!--	Author:	Chris Carrier
		Date:	1/15/15
		Information:	Home Index Factory Output
-->

@{
    ViewBag.Title = "Factory Index";
}
	<head>
		<title>Factory Index</title>
	</head>

<h2>Factory Index</h2>

	<h2>Filter Items</h2>
	<ul class="index-list">
		<li><a href="~/Factory/CategoryFactory">Category Factory</a></li>
		<li><a href="~/Factory/SupplierFactory">Supplier Factory</a></li>
		<li><a href="~/Factory/ShipperFactory">Shipper Factory</a></li>
		<li><a href="~/Factory/ProductFactory">Product Factory</a></li>
	</ul>

