/*
   New Perspectives on XML
   Tutorial 2
   Review Assignment
   Filename: files.css

   Author: Chris Carrier
   Date:   4/6/12


   This file contains styles used with information on downloadable files

*/




/* Place namespace escape styles below */


           {display: inline; position: absolute; left: 400px}